body {
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;

  /* background-image: url('2993237.jpg'); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.home h1{
  text-shadow: 1px 1px #757575;
  margin: 50px;

}

/* navbar base styles */
* {
  margin: 0;
  color: #333;
}
.navbar {
  top:0;
  padding: 0px 20px 0px 20px;
  float: left;
  /* display: flex; */
  align-items: center;
  width: 25%;
  min-height: 100vh;
  max-width: 26%;
  /* background-color: #fafafad3; */
  background-color: #f2f2f2;
  border-right: 2px solid #fafafabb;
}
.navbar h1 {
  font-size: 40px;
  color: #f1356d;
}
.navbar .links {
  margin-left: 0 auto;
  float: right;
}
.navbar a {
  margin-left: 0px;
  text-decoration: none;
  padding: 0px;
}
.navbar a:hover {
  color: #f1356d;
}
.navbar .search {
  margin-top: 20px;
}
.navbar .alertButton {
  position: absolute;
  bottom: 40px;
  left: 30px;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-image: url('../images/bell.png');
  background-size: 70px 70px;
  cursor: pointer;
  box-shadow: 3px 3px 5px 3px #757575;
} 
.content {
  float: left;
  top: 0;
  height: 100vh;
  width: 72%;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  background-color: #fafafa;
}

/* patients preview */
.patients-preview {
  width: 70%;
  text-decoration: none;
  padding: 10px 16px;
  margin: 20px auto;
  border-bottom: 1px solid #fafafa;
  border-radius: 22px;
  background-color: #f2f2f2;
}
.patients-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.patients-preview h2 {
  font-size: 20px;
  color: #333333;
  margin-bottom: 8px;
  text-decoration: none;
}
.patients-preview .links {
  text-decoration: none;
}
.patient-details {
  font-size: 20px;
  color: #333333;
  margin-bottom: 8px;
}
.patient-details h2 {
  margin: 30px;
}
.patient-details p {
  padding: 7px;
}
.search {
  font-size: 20px;
  color: #333333;
  margin-bottom: 8px;
}
.search input {
  float: left;
  height: 30px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


.search button {
  text-align: center;
  height: 30px;
  float: right;
  width: 20%;
  background-color: #f1356d8a;
  color: white;
  padding: 7px 20px 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.left {
  float:left;
  min-width: 24%;
  max-width: 25%;
  background-color: #333;
  min-height: 973px;
}
.maxheight {
  min-height: 100%;
}
.grid-container--fit {
  grid-template-columns: repeat(auto-fit, minmax(100px, 2fr));
}